# String Data Type in Python

In [1]:
# Boundries
# 'string text', "string text", '''string text''', """string text"""
# convert any speacial character into simple charater, place \ before speacial character

name : str = 'Aijaz Ahmed\'s'
fname : str = "Malik Fateh Muhammad"
education : str = "CGMA"
age : int = 44

card : str = "PIAIC STUDENT CARD\nStudent Name: " + name + "\nFather Name: " + fname + "\nEducation: " + education + "\nAge: " + str(age)

print(card)

PIAIC STUDENT CARD
Student Name: Aijaz Ahmed's
Father Name: Malik Fateh Muhammad
Education: CGMA
Age: 44

# "\\" Line Continue

## Define Multiline String """   """   '''   '''

# F-String Python, (very powerfull feature)

In [2]:
name : str = 'Aijaz Ahmed'
fname : str = "Malik Fateh Muhammad"
education : str = "CGMA"
age : int = 44

card : str = f"""
PIAIC Student Card
Student Name : {name}
Father Name : {fname}
Education : {education}
Age : {age}
Daily Income : {10000*250}
"""

print(card)

PIAIC Student Card
Student Name : Aijaz Ahmed
Father Name : Malik Fateh Muhammad
Education : CGMA
Age : 44
Daily Income : 2500000

F-String and Jinja Style

In [3]:
# Jinja
"""
Student Name {{name}}
"""

'\nStudent Name {{name}}\n'

In [4]:
# Old way to declare variables

name : str = 'Aijaz Ahmed'
fname : str = "Malik Fateh Muhammad"
education : str = "CGMA"
age : int = 44

card : str = f"""
PIAIC Student Card
Student Name : %s
Father Name : %s
Education : %s
Age : %d
""" % (name,fname,education,age)

print(card)

PIAIC Student Card
Student Name : Aijaz Ahmed
Father Name : Malik Fateh Muhammad
Education : CGMA
Age : 44

In [5]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
a = 7
b = 8
# {} Place holder

"pakistan value  a = {} and value b = {}".format(a,b)

'pakistan value  a = 7 and value b = 8'

In [7]:
name : str = 'Aijaz Ahmed\'s'
fname : str = "Malik Fateh Muhammad"
education : str = "CGMA"
age : int = 44

card : str = """
PIAIC Student Card
Student Name : {0}
Father Name : {1}
Education : {2}
Age : {3}
""".format(name,fname,education,age)

print(card)

PIAIC Student Card
Student Name : Aijaz Ahmed's
Father Name : Malik Fateh Muhammad
Education : CGMA
Age : 44

In [8]:
# assigning index number in place holder

name : str = 'Aijaz Ahmed\'s'
fname : str = "Malik Fateh Muhammad"
education : str = "CGMA"
age : int = 44

card : str = """
PIAIC Student Card
Student Name : {0}
Father Name : {1}
Education : {2}
Age : {3}
""".format(name,fname,education,age)

print(card)

PIAIC Student Card
Student Name : Aijaz Ahmed's
Father Name : Malik Fateh Muhammad
Education : CGMA
Age : 44

In [9]:
name : str = "Aijaz Ahmed"

print(name.capitalize())
print(name.casefold())
print(name.format())

Aijaz ahmed
aijaz ahmed
Aijaz Ahmed

In [10]:
student_code : str = """
print ("My name is Aijaz")
a:int = 7
b:int = 8
print (a+b)
"""

exec(student_code)

My name is Aijaz
15

# Explor String Methods and Attributes

pre defined global function

* print
* type
* id
* dir
* len

In [11]:
a: list[str]=[i for i in dir(str) if "__" not in i]

print(a)

print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [12]:
name : str = "aiJaz ahMed"

print(name)
print(name.capitalize())
print(name.casefold())
print(name.upper())
print(name.lower())
print(name.title())

aiJaz ahMed
Aijaz ahmed
aijaz ahmed
AIJAZ AHMED
aijaz ahmed
Aijaz Ahmed

In [13]:
name : str = "     Aijaz Ahmed     "

display(name)
display(name.lstrip())
display(name.rstrip())
display(name.strip())

'     Aijaz Ahmed     '

'Aijaz Ahmed     '

'     Aijaz Ahmed'

'Aijaz Ahmed'

# Using regix

In [14]:
import re

name : str = "     Aijaz     Ahmed     "

display(name)

name1 : str = re.sub(' {2,100}',' ',name)
display(name1)

'     Aijaz     Ahmed     '

' Aijaz Ahmed '

In [15]:
first_name : str = "AiJaz"
last_name : str = "AhMed"
full_name : str = f"{first_name} {last_name}"
message : str = f"Hello, {full_name.title()}!"
display(full_name)
display(message)

'AiJaz AhMed'

'Hello, Aijaz Ahmed!'

In [16]:
# Special Meaning wide space

print("Name:\b Aijaz Ahmed")
print("Name:\t\t Aijaz Ahmed")
print("Name:\n Aijaz Ahmed")

Name Aijaz Ahmed
Name:		 Aijaz Ahmed
Name:
 Aijaz Ahmed

In [17]:
# Prefix and Suffix

nostarch_url : str = "https://nostarch.com"
nostarch_url.removeprefix("https://")

'nostarch.com'