# Python Arithmetic Operators

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [2]:
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")

table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [6]:
# %	Modulus

a: int = 11
b: int = 3

print(a % 3)

2

In [8]:
# ** Exponentiation

print(2**2)
print(2**3)

4
8

In [11]:
# // Floor division

print(12/3)
print(14/3)
print(14//3)

4.0
4.666666666666667
4

# Python Assignment Operators
* Assignment operators are used to assign values to variables:

In [25]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [15]:
#  +=

a : int = 7
a : int = a + 2
print(a)

a : int = 7
a += 2
print(a)

9
9

# Python Comparison Operators
 Comparison operators are used to compare two values:

In [24]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [17]:
a: int = 7
b: int = 10

print(a == b)

False

In [18]:
# !=

a: int = 7
b: int = 7

print(a != b)

False

ASCII Code

A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57

In [22]:
# To get ASCII Code

ord("A")

65

In [23]:
# To get ASCII Code

chr(65)

'A'

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [26]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [28]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [34]:
x : str = "abc"
z : str = "abc"

print(id(x))
print(id(z))

x is z

140733458747656
140733458747656

True

In [36]:
a : str = "abc"
b : str = "xyz"

print(id(a))
print(id(b))

a is not b

140733458747656
2516541028992

True

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [37]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [44]:
# Old way to find index item

names : list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i,names[i])
    if names[i] == 'D':
        print("True Found D")
        break

0 A
1 B
2 C
3 D
True Found D

In [ ]:
# Current way to find index item with in

names : list[str] = [chr(i) for i in range(65,91)]
display(names)
"Pakistan" in names

In [54]:


names : list[str] = ['Sir Zia', 'Sir Inam', 'Qasim']

uinput : str = input('Enter name : ')

uinput in names

False

In [56]:


names : list[str] = ['Sir Zia', 'Sir Inam', 'Qasim']

uinput : str = input('Enter name : ')

uinput not in names

True

<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

# PEMDAS

In [58]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3 + 2 −   8   ÷2 + 2
#     3 + 2 -        4 + 2
#       5   -        1 + 2

3.0

# Solving the given mathematical expression step by step

expression = 3 + 2 - 2 * 4 / 2 + 2

# Step 1: Perform multiplication and division from left to right
step_1 = 2 * 4  # Multiplication
step_2 = step_1 / 2  # Division

# Step 2: Perform addition and subtraction from left to right
final_result = 3 + 2 - step_2 + 2

final_result

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

In [60]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [61]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

In [62]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [63]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [64]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!